<div class="container-fluid">
	
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Total Visitor
				</div>
				<div class="chart-stage">
					<div id="grid-1-1">
						<img data-src="holder.js/100%x180/white/text:#grid-1-1">
					</div>
				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Last Country
				</div>
				<div class="chart-stage">
					<img data-src="holder.js/100%x180/white">
				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Devices
				</div>
				<div class="chart-stage">
					<img data-src="holder.js/100%x180/white">
				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Time of Visit
				</div>
				<div class="chart-stage">
					<img data-src="holder.js/100%x180/white">
				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
	</div>
	

	<div class="row">
		<div class="col-sm-9">
			<div class="chart-wrapper">
				<div class="chart-title">
					Visitor Chart
				</div>
				<div class="chart-stage">
						<img data-src="holder.js/100%x120/white">
				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>		
		<div class="col-sm-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Top Five Webpages
				</div>
				<div class="chart-stage">
						<img data-src="holder.js/100%x120/white">
				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
	</div>

</div>