<div class="fix-container container-fluid">

	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Total Visitor
				</div>
				<div class="chart-stage">
					<div id="grid-1-1">
						<!-- <img data-src="holder.js/100%x180/white/text:#grid-1-1"> -->
						<canvas id="canvas1" height="450" width="600"></canvas>
					</div>
				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Last Country
				</div>
				<div class="chart-stage">
					<!-- <img data-src="holder.js/100%x180/white"> -->
					<canvas id="canvas2" height="450" width="600"></canvas>
				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Devices
				</div>
				<div class="chart-stage">
					<!-- <img data-src="holder.js/100%x180/white"> -->
					<canvas id="canvas3" height="450" width="600"></canvas>

				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Time of Visit
				</div>
				<div class="chart-stage">
					<!-- <img data-src="holder.js/100%x180/white"> -->
					<canvas id="canvas4" height="450" width="600"></canvas>

				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-9">
			<div class="chart-wrapper">
				<div class="chart-title">
					Visitor Chart
				</div>
				<div class="chart-stage">
						<!-- <img data-src="holder.js/100%x120/white"> -->
						<canvas id="canvas5" height="150" width="600"></canvas>

				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="chart-wrapper">
				<div class="chart-title">
					Top Five Webpages
				</div>
				<div class="chart-stage">
						<!-- <img data-src="holder.js/100%x120/white"> -->
						<canvas id="canvas6" height="450" width="600"></canvas>
				</div>
				<div class="chart-notes">
					Notes about this chart
				</div>
			</div>
		</div>
	</div>

</div>
