<div class="container-fluid">
	
	<div class="row">
		<div class="col-sm-12">
			<div class="chart-wrapper">
			
				<div class="chart-title">
					Some Settings
					
					<button class="float_right btn btn-default btn-xs" type="button" name="button">Button</button>
				</div>
				<div class="chart-title">
					Some Settings
					
					<button class="float_right btn btn-default btn-xs" type="button" name="button">Button</button>
				</div>

				<div class="chart-title">
					Some Settings
					
					<button class="float_right btn btn-default btn-xs" type="button" name="button">Button</button>
				</div>

				<div class="chart-title">
					Some Settings
					
					<button class="float_right btn btn-default btn-xs" type="button" name="button">Button</button>
				</div>

				<div class="chart-title">
					Some Settings
					
					<button class="float_right btn btn-default btn-xs" type="button" name="button">Button</button>
				</div>

				<div class="chart-title">
					Some Settings
					
					<button class="float_right btn btn-default btn-xs" type="button" name="button">Button</button>
				</div>

				<div class="chart-title">
					Some Settings
					
					<button class="float_right btn btn-default btn-xs" type="button" name="button">Button</button>
				</div>

				<div class="chart-stage">
						<img data-src="holder.js/100%x120/white">
				</div>
				<div class="chart-notes">
					Notes about this Setting Page
				</div>
			</div>
		</div>
	</div>

</div>